<!DOCTYPE html>
<html>

<head>
  <title>About us</title>
</head>

<body>
  <div class="container">
    <h1>Blog was create by My group</h1><br>
    <div class="card">
      <p><b>6 members:</b><br><br>
        1. <br>
        2. <br>
        3. <br>
        4. <br>
        5. <br>
        6. <br><br>
        Welcome our blog!</p>
    </div><br>
    <div class="card">
      <h1></h1>
      <p></p>
    </div>
    <br>
    
    
  </div>
</body>

</html>