Rails.application.config.assets.precompile += %w( pages.css )
<!DOCTYPE html>
<html>

<head>
  <title>About Us</title>
</head>

<body>
  <div class="container">
    <h1>この Web は、私たちのグループによって作成されました</h1><br>
    <div class="card">
      <p><b>グループメンバー:</b><br><br>
        1. Pham Tien Dung<br>
        2. Duong Minh Phuc<br>
        3. Nguyen Anh Vuong<br>
        4. Dang Thanh Van<br>
        5. Phan Viet Anh<br><br>
        私たちのウェブへようこそ！</p>
    </div><br>
    <div class="card">
      <h1></h1>
      <p></p>
    </div>
    <br>
    
    
  </div>
</body>

</html>