<!DOCTYPE html>
<html>

<head>
  <link href="../assets/stylesheets/pages.css" rel="stylesheet" />
  <title> How To Write A Post/投稿の書き方</title>
</head>

<body>
  <div class="container">
    <h1>書く方法:</h1><br>
    <div class="card">
      <p><b>
        1. アカウントを作成する<br>
        2. ログイン<br>
        3. 20ワード以上の投稿を書く<br>
        4. 画像をアップロードする<br>
        5. 写真付きで投稿</p>
    </div><br>
    
  </div>
</body>

</html>