<!DOCTYPE html>
<html>

<head>
  <title>How To Write an blog</title>
</head>

<body>
  <div class="container">
    <h1>ブログを書く方法:</h1><br>
    <div class="card">
      <p><b>
        1. アカウントを作成する<br>
        2. ログインしてブログモードを選択する<br>
        3. ブログを 20 語以上書く<br>
        4. 画像をアップロードする<br>
        5. 写真付きのブログを投稿する</p>
    </div><br>
    
  </div>
</body>

</html>