<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが次のアドレスに変更されたことをお知らせするためにご連絡しています。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスが変更されたことをお知らせするために、ご連絡を差し上げております。<%= @resource.email %>.</p>
<% end %>
